body {
    margin: 0;
}

/* Title bar with links */
.header {
    position: fixed;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 0.5;
    background-color: #FFFFFF;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
}
.header a {
    color: #000000;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}
#home {
    padding-right: 10px;
    border-right: 2px solid #e5e5e5;
}

.content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}
.content h1 {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}
.content h2 {
    font-weight: 100;
    margin-bottom: 30px;
}
.content p {
    font-style: italic;
}




.contents {
    text-align: center;
    margin: 30px;
    width: 200px;
    display: inline-grid;
}

.contents-title {
    font-size: 20px;
    border: 2px solid #000000;
    display: inline-block;
    padding-top: 16px;
    width: 200px;
    height: 40px;
}
.contents-title:hover {
    color: #ffffff;
    background-color: #000000;
}
.contents-body {
    border: 2px solid #e5e5e5;
    border-top: 0px;
    width: 200px;
}
.contents a {
    color: #000000;
    text-decoration: none;
}
.contents a:hover {
    cursor: pointer;
}
.contents ol {
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 0;
}
.contents li {
    list-style: none;
    padding-bottom: 10px;
}
.content li:hover {
    font-weight: bold;
}





.sections p, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
.sections {
    background-color:#e5e5e5;
    border-top: 2px solid #5a5a5a;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
}
.section {
    background-color: #FFFFFF;
    font-style: normal;
    padding: 30px;
    padding-top: 0px;
    margin-top: 50px;
    overflow: auto;
}
.section p {
    text-align: justify;
    padding-left: 20px;
}
.section-title {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}
.section-subtitle {
    margin-top: 40px;
    margin-bottom: -5px;
}




/* TO TOP BUTTON */
#toTop {
    background-color: #FFFFFF;
    border: none;
    padding: 8px;
    padding-top: 8px;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#textSize {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 8px;
    padding-top: 8px;
    position: fixed;
    right: 20px;
    top: 7px;
    display: none;
    z-index: 2;
}
#toTop:hover, #textSize:hover {
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

#textSizeBox {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 8px;
    padding-top: 8px;
    position: fixed;
    right: 20px;
    top: 51px;
    display: none;
}
#textSizeBox button {
    background-color: #FFFFFF;
    padding: 5px;
    margin-top: 5px;
}
#textSizeBox button:hover {
    color: #FFFFFF;
    background-color: #000000;
}
#textSizeBox select, #textSizeBox button {
    font-size: 16px;
    width: 130px;
    border: 1px solid #e5e5e5;
}

/* TEXT SIZE OPTIONS WHICH CAN NE APPLIED TO WEBSITE CONTENT */
.textSmall {
    font-size: 14px;
}
.textDefault {
    font-size: 16px;
}
.textLarge {
    font-size: 18px;
}
.textLargest {
    font-size: 20px;
}
