.navbar {
    background-color: #3b9bd3 !important;
    font-family: Raleway;
}
.navbar-brand {
    font-size: 18px !important;
}
.navbar a {
    color: #FFF !important;
    font-size: 18px !important;
}
.nav-item a {
    text-transform: capitalize;
}
.nav-item {
    border: 2px solid #3b9bd3;
}
.nav-item:hover {
    border-color: #65b1dd;
}
.active {
    border-color: #FFF !important;
}

#toTop {
    font-size: 30px;
    color: #FFF;
    background-color: #3b9bd3;
    opacity: 0.6;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    outline: none;
    padding: 5px 20px;
    border: 2px solid #FFF;
    display: block;
    cursor: pointer;
    z-index: 2;
}
#toTop:hover {
    opacity: 1;
}

.navbar-toggler {
    border-color: #FFF !important;
    border-radius: 2px;
}
.navbar-toggler-icon {
    color: #FFF;
}
.navbar-collapse {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}

.menu-toggle {
    border: 2px solid #FFF;
    background: none;
}
.menu-toggle img {
    padding-bottom: 2px;
}
.navbar-nav {
    text-align: center;
    position: inherit;
}


@media (min-width: 576px) {
    .navbar-nav {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}
