.jumbotron {
    text-align: center;
    height: 38vh;
    min-height: 300px;
    max-height: 350px;
}
.jumbotron h1 {
    font-family: Raleway;
}
.jumbotron h2 {
    font-family: Raleway-light;
    padding-top: 0px;
    margin-top: 15px;
}
.contact-icons {
    text-align: center;
}
.contact-icons img {
    height: 60px;
    width: 60px;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 20px;
}
.contact-icons img:hover {
    opacity: 1;
}

.title {
    color: #FFF;
    background-color: #65b1dd;
    text-align: center;
    padding: 10px;
}
.d {
    padding-top: 20px;
    background-color: #f4f9fc;
    border-top: 1px solid #8fc6e6;
    border-bottom: 1px solid #8fc6e6;
}
h2 {
    color: #575757;
    /* text-align: center; */
    font-size: 2.3em;
    padding-top: 30px;
    padding-bottom: 10px;
}

.pill {
    font-family: Raleway;
    /* border: 1px solid #3b9bd3; */
    color: #FFF;
    background-color: #3b9bd3;
    border-radius: 1px;
    line-height: 3;
    padding: 6px 10px;
    margin: 5px;
}


.hidden {
    display: none;
}
.show {
    margin: 0 auto;
    margin-bottom: 20px;
}
.show button {
    border-radius: 0px;
    /* background-color: #8fc6e6; */
}

.card {
    font-family: Raleway;
    margin-bottom: 30px;
    /* border-color: #575757; */
    border-radius: 0px;
    border-width: 2px;
}
.card-top-container {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 20px;
}
.card-img-container {
    /* color: #FFF; */
    /* background-color: #3b9bd3; */
    text-align: center;
    font-size: 26px;
    border-color: #3b9bd3 !important;
    /* border-bottom: 1px solid rgba(0, 0, 0, .125); */
    padding: 20px;
    height: 140px;
}
.card-img-container img {
    /* width: auto; */
    height: 100px;
    max-width: 100%;
}
.card-text {
    text-align: justify;
}
.card-footer {
    border-radius: 0px !important;
}
.card-link {
    color: #FFF;
}
.card-link:hover {
    color: #FFF;
    text-decoration: underline;
}
.card-link-home {
    color: #000;
}
.card-body > .card-text > .text-muted {
    color: #e5e5e5 !important;
    font-style: italic;
}
.card-body > .card-text > .text-black {
    color: #000 !important;
}


.recent > .card-img-top {
    /* border-bottom: 1px solid red; */
    border-radius: 5px;
}
.recent {
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.recent > .card-body > .card-link {
    color:inherit;
}
.recent > .card-links {
    color: #007bff;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 10px 20px;
}
